{% extends 'base.html'%}
{% block content %}
{% load humanize %}
{% load widget_tweaks %}
<!--order filters-->
<br>
<div class="row">
    <div class="col">
        <div class="card card-body mr-3 ml-3">

            <form method="get">
                <div class="well">
                    <h4 style="margin-top: 0">Order Filter</h4>
                    <hr>

                    <div class="row">
                        <div class="form-group col-sm-2 col-md-2">
                            <h6 class="mb-2">Service provider Name :</h6>
                            {% render_field filter.form.supplierName class="form-control" %}
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <h6 class="mb-2">Order Name :</h6>
                            {% render_field filter.form.OrderName class="form-control" %}
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <h6 class="mb-2">To:</h6>
                            {% render_field filter.form.start_date class="form-control" type="date" %}
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <h6 class="mb-2">From:</h6>
                            {% render_field filter.form.end_date class="form-control" type="date" %}
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <h6 class="mb-2">Document :</h6>
                            {% render_field filter.form.document class="form-control" %}
                        </div>
                        <div class="form-group col-sm-2 col-md-2">
                            <h6 class="mb-2">Amount :</h6>
                            {% render_field filter.form.Amount class="form-control" %}
                        </div>
                        <div class="form-group col-sm-12 float-right ">
                            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-search"></i>
                                Search
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!--end order filters-->

        <!-- order table -->
        <div class="card  mx-3 my-3">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table table-hover table-responsive">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Order Details</h3>

                                </div>
                                <div class="col">
                                    <h3 class="float-right"><a href="{% url 'Order-place'%}" style="color:#DC7633"><i
                                                class="fas fa-plus-circle"></i></a></h3>

                                </div>
                            </div>
                            <hr>


                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Service Provider</th>
                                        <th scope="col">Order</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Document</th>
                                        <th scope="col"> Size</th>
                                        <th scope="col"> GSM</th>

                                        <th scope="col"> Quantity</th>
                                        <th scope="col"> Amount</th>
                                        <th scope="col"> Delete</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    {% for i in filter.qs %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{i.supplierName}}</td>
                                        <td>{{i.OrderName}}</td>
                                        <td>{{i.Date}}</td>
                                        <td>{{i.document}}</td>
                                        <td>{{i.Size}}</td>
                                        <td>{{i.gsm}}</td>

                                        <td>{{i.Quantity}}</td>
                                        <td><span class=" float-right">{{i.Amount|intcomma}}</span></td>
                                        <td>
                                            <a href="{% url 'delete-order' i.id %}"
                                                class="btn btn-danger mr-2">Delete</a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of order table -->
        {% endblock %}