<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- icon font -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!--end icon font -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
<style>
body,.btn
{
background-color:#79589f;
}
    .card{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 100px; /* Added */
}
</style>

    <title>Jagdamba</title>
</head>
<body>
<div class="container mt-5 text-center">
  <div class="card mx-auto mb-5" style="width: 500px;">

   <img class="img-thumbnail py-2 px-2" src="{% static 'img/logonew.png' %}" alt="" >
</div>
    <div class="row">
    <div class=" card col-md-4 text-center" >
        <div class="card-header" style="color:#79589f;"><b>Login to your Account</b></div>
        <div class="message">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{message.tags}}!</strong> {% if message.tags %}{{ message}}{% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            {% endif %}
        </div>
<div class="card-body pr-4">
        <form method="post" action="" class="needs-validation ml-5 " novalidate>
            {% csrf_token %}
            <div class="form-row mr-4">
                        <input type="text" style="border:groove" name="username" class="form-control"
                               id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend"
                               required>
                        <div class="invalid-feedback">
                            Please Enter your username.
                        </div>
            </div>
            <br>
            <div class="form-row mr-4">
                    <input style="border:groove" type="password" name="password" class="form-control"
                           id="validationCustom03" placeholder="password" required>
                    <div class="invalid-feedback">
                        Please enter a valid password.
                    </div>
            </div>
            <div class="form-row mt-4 mr-4">
                <button class="btn btn-default btn-md col-md-12 col-sm-12" type="submit" style="color:white;">LogIn</button>
            </div>
        </form>
    </div>
        <div class="card-footer">
            <a href="{% url 'password_reset'%}" style="color:#79589f;"><b>Reset password</b> </a>
  </div>
    </div>
    <script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

    </script>
    </div>
    </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>