{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}

<br>
<div class=" mx-3 my-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <h4>{{supplier.Name}}</h4>

                <hr>

                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update-supplier' supplier.id %}">Update
                    Details</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'notification' supplier.id %}">Delete
                    Service provider</a>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'Order-place' %}">Place Order</a>
                <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'payment-form' %}">Make New Payment</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-body ">
                <h5>Contact Information</h5>
                <hr>
                <p><strong>Company : </strong> {{supplier.Company}}</p>
                <p><strong>Email : </strong> {{supplier.Email}}</p>
                <p><strong>Phone : </strong> {{supplier.Mobile}}</p>
                <p><strong>Address : </strong> {{supplier.Address}}</p>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-body">
                <table>
                    <tr>
                        {% if balance_flag%}
                        <th>
                            <h4 style="text-align:center;padding:10px;color:green">Advance Paided</h4>
                        </th>
                        {% else %}
                        <th>
                            <h4 style="text-align:center;padding:10px">Balance Amount</h4>
                        </th>
                        {% endif %}
                        <th>
                            <h4 style="text-align:center;padding:10px">Paid Amount</h4>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h5 style="text-align:center;padding:5px">{{balance_amount|intcomma}}</h5>
                        </td>
                        <td class="border-left">
                            <h5 style="text-align:center;padding:5px"> {{paid_amount|intcomma}}</h5>
                        </td>
                    </tr>
                </table>
                <hr>
                <h4 style="text-align:center;padding:5px">Total Amount</h4>

                <h5 style="text-align: center;padding:5px">{{total_amount|intcomma}} </h5>

            </div>
        </div>
    </div>


    <br>
    {% if oflag %}
    <!--order-->

    <div class="row">
        <div class="col">
            <div class="card card-body mr-3 ml-3">

                <form method="get">
                    <div class="well">
                        <h4 style="margin-top: 0">Order Filter</h4>
                        <hr>

                        <div class="row">

                            <div class="form-group col-sm-2 col-md-2">
                                <h6 class="mb-2">Order Name :</h6>
                                {% render_field filter.form.OrderName class="form-control" %}
                            </div>
                            <div class="form-group col-sm-2 col-md-2">
                                <h6 class="mb-2">Date :</h6>
                                {% render_field filter.form.Date class="form-control" type="date" %}
                            </div>
                            <div class="form-group col-sm-2 col-md-2">
                                <h6 class="mb-2">To:</h6>
                                {% render_field filter.form.start_date class="form-control" type="date" %}
                            </div>
                            <div class="form-group col-sm-2 col-md-2">
                                <h6 class="mb-2">From:</h6>
                                {% render_field filter.form.end_date class="form-control" type="date" %}
                            </div>
                            <div class="form-group col-sm-2 col-md-2">
                                <h6 class="mb-2">Document :</h6>
                                {% render_field filter.form.document class="form-control" %}
                            </div>
                            <div class="form-group col-sm-2 col-md-2">
                                <h6 class="mb-2">Amount :</h6>
                                {% render_field filter.form.Amount class="form-control" %}
                            </div>
                            <div class="form-group col-sm-12 float-right ">
                                <button type="submit" class="btn btn-primary float-right"><i class="fas fa-search"></i>
                                    Search
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <!--end order filters-->

            <!-- order table -->
            <div class="card  mx-3 my-3">
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table table-hover table-responsive">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="card-title">Order Details</h3>

                                    </div>
                                    <div class="col">
                                        <h3 class="float-right"><a href="{% url 'Order-place'%}"
                                                style="color:#DC7633"><i class="fas fa-plus-circle"></i></a></h3>

                                    </div>
                                </div>
                                <hr>


                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">#</th>
                                            {% comment %} <th scope="col">Service Provider</th> {% endcomment %}
                                            <th scope="col">Order</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Document</th>
                                            <th scope="col"> Size</th>
                                            <th scope="col">GSM </th>
                                            <th scope="col"> Quantity</th>
                                            <th scope="col"> Amount</th>


                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for i in filter.qs %}
                                        <tr>
                                            <th scope="row">{{forloop.counter}}</th>
                                            {% comment %} <td>{{i.supplierName}}</td> {% endcomment %}
                                            <td>{{i.OrderName}}</td>
                                            <td>{{i.Date}}</td>
                                            <td>{{i.document}}</td>
                                            <td>{{i.Size}}</td>
                                            <td>{{i.gsm}}</td>

                                            <td>{{i.Quantity}}</td>
                                            <td><span class=" float-right">{{i.Amount|intcomma}}</span></td>


                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end of order table -->










                <!-- end of order table -->
            </div>
            {%else %}

            <div class="alert alert-info" role="alert">
                <p><strong>Orders Details !</strong>There is no Order Avaialable for this Supplier ,for Placing new
                    Order click on
                    <a href="{% url 'Order-place' %}"><b>New Order</b></a></p>
            </div>


            {% endif %}


            {% if pflag %}
            <!--payment -->
            <div class="row">
                <div class="col">
                    <div class="card card-body mr-3 ml-3">

                        <form method="get">
                            <div class="well">
                                <h4 style="margin-top: 0">Payment Filter</h4>
                                <hr>

                                <div class="row">

                                    <div class="form-group col-sm-2 col-md-2">
                                        <h6 class="mb-2">Paid By :</h6>
                                        {% render_field filter2.form.paidIn class="form-control"  %}
                                    </div>
                                    <div class="form-group col-sm-2 col-md-2">
                                        <h6 class="mb-2">Date :</h6>
                                        {% render_field filter2.form.Date class="form-control" type="date" %}
                                    </div>
                                    <div class="form-group col-sm-2 col-md-2">
                                        <h6 class="mb-2">To:</h6>
                                        {% render_field filter2.form.start_date class="form-control" type="date" %}
                                    </div>
                                    <div class="form-group col-sm-2 col-md-2">
                                        <h6 class="mb-2">From:</h6>
                                        {% render_field filter2.form.end_date class="form-control" type="date" %}
                                    </div>
                                    <div class="form-group col-sm-2 col-md-2">
                                        <h6 class="mb-2">Amount :</h6>
                                        {% render_field filter2.form.credit class="form-control" %}
                                    </div>
                                    <div class="form-group col-sm-12 float-right ">
                                        <button type="submit" class="btn btn-primary float-right"><i
                                                class="fas fa-search"></i>
                                            Search
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>


                    <!-- end of payment filters       -->
                    <!--payment table-->

                    <div class="card  mx-3 my-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table table-hover table-responsive">
                                        <div class="row">
                                            <div class="col">
                                                <h3 class="card-title">Payment Details</h3>

                                            </div>
                                            <div class="col">
                                                <h3 class="float-right"><a href="{% url 'payment-form'%}"
                                                        style="color:#DC7633"><i class="fas fa-plus-circle"></i></a>
                                                </h3>

                                            </div>
                                        </div>
                                        <hr>


                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    {% comment %} <th scope="col">Service provider</th> {% endcomment %}
                                                    <th scope="col">Payment Date</th>
                                                    <th scope="col">Paid By</th>

                                                    <th scope="col"> Amount</th>
                                                    <th scope="col"> Comment</th>
                                                    {% comment %} <th scope="col"> Cancel</th> {% endcomment %}


                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for i in filter2.qs %}
                                                <tr>
                                                    <th scope="row">{{forloop.counter}}</th>
                                                    {% comment %} <td>{{i.supplierName}}</td> {% endcomment %}
                                                    <td>{{i.Date}}</td>
                                                    <td>{{i.paidIn}}</td>

                                                    <td>{{i.credit|intcomma}}</td>
                                                    <td>{{i.Comment}}</td>
                                                    {% comment %} <td>
                                                        <a href="" class="btn btn-danger mr-2" data-toggle="modal"
                                                            data-target="#exampleModal{{i.id}}">Delete</a>
                                                    </td> {% endcomment %}


                                                </tr>
                                                {% comment %} {% include 'deletenotification.html' %} {% endcomment %}

                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of payment table -->


                <!--end of payment table -->
                {% else %}
                <div class="alert alert-info" role="alert">
                    <p><strong>Payment Details !</strong>There is no Payment Details Avaialable for this Supplier,for
                        Making new Payment
                        click on <a href="{% url 'payment-form' %}"><b>New payment</b></a></p>
                </div>

                {% endif %}

                {% endblock %}