{% extends 'base2.html'%}
{% block content %}
<div class="container" >
<div class="card">
<div class="card-body mx-4 my-4">
<h2>Password change </h2>
 <br>
  <form class="form-inline" method="post">
    {% csrf_token %}
    <div class="form-group mb-2">
    <label class="mr-3" for="id_email" ><h4>Email: </h4></label>
    <input  type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control" placeholder="Enter the Email" >
  </div>
  <button type="submit" class="btn btn-primary ml-3 mb-2">Rest Password</button>
   </div>
   </form>
  </div>
  </div>
  
{% endblock %}