<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Invoice Copy</title>
</head>

<body>
  <div class="container">
    <div class="text-center mt-4 ">
      <h1>Jagdamba</h1>
      <h6>Offset And Digital</h6>

      <hr>
    </div>
    <div class="row ">
      <div class="col-sm-6 ">
        <h6 class="pl-4">Invoice No :1</h6>
      </div>
      <div class="col-sm-6 ">
        <h6 class="float-right pr-4">{{today}}</h6>
      </div>
    </div>
    <br>
    <div class="container mx-3">
      <h2><b>Name :</b> {{ sname.Name }} </h2>

      <div class="row">
        <div class="col-sm-8">
          <p><b>Mobile No:</b> {{sname.Mobile}}</p>
          <p><b>Email Id :</b> {{sname.Email}}</p>
        </div>
        <div class="col-sm-4">
          <p><b>Company Name :</b> {{sname.Company}}</p>
          <p><b>Address :</b> {{sname.Address}}</p>
        </div>
      </div>

      <hr style="width:500px">

      <br>
      <h3>Transactions Details </h3>
      <table class="table">

        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Order Name</th>
            <th scope="col">Size</th>
            <th scope="col">Gsm</th>
            <th scope="col">Quentity</th>
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
          </tr>

        </thead>
        <tbody>
          {% for i in filter %}

          <tr>

            <td>{{i.Date}}</td>
            <td>{{i.OrderName}} </td>
            <td>{{i.Size}}</td>
            <td>{{i.gsm}}</td>
            <td>{{i.Quantity}}</td>
            <td>{{i.Amount}}</td>
            <td></td>
          </tr>
          {% endfor %}

          <tr><br></tr>
          <tr>
            <th>Date</th>
            <th> Paid BY </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          {% for i in filter1 %}
          <tr>


            <td>{{i.Date}} </td>
            <td>{{i.paidIn}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{i.credit}}</td>


          </tr>


          {% endfor %}
          <tr>
            <td><b>TOTAL AMOUNT </b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b> {{debit_amount}}</b></td>
            <td><b>{{credit_amount}}</b></td>


          </tr>

        </tbody>
      </table>
      <br>
      <br>
      <div>
        <h4 class="mr-4" style="float:right;">
          {% if balance_flag %}
          Advance Amount =
          {% else %}
          Balance Amount =
          {% endif %}
          &#x20b9 {{balance_amount}} /-</h4>
      </div>
      <br>
      <br>
    </div>
    <br>
    <br>
    <br>
    <div class="text-center">
      <p>
        If you have any Question about this Invoice Please contact.
      </p>
      <p>
        <small>
          Mobile : 9767792771 ,Email :Harishk.manthurthi@gmail.com

          Near bhramanand Nagar,kamathgar ,Bhiwandi :421302
        </small>
      </p>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>