{% extends 'base.html'%}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load static %}
<div class="card  mx-3 my-3">
  <div class="card-body ">
    <h4 class="card-title">Place Order</h4>
    <hr />
    <div class="row">
      <div class="col">
        <img class="img-fluid" alt="Responsive image" src="{% static 'img/22562.jpg'%}"
          style="width:500px;height:450px" />
      </div>
      <div class="col">
        <form method="post" enctype="multipart/form-data" class="needs-validation" onsubmit="validatepassword()"
          novalidate>
          {% csrf_token %}
          <div class="form-group">
            <label for="id_supplierName">Service provider</label>
            {% render_field form.supplierName class="form-control" id="id_supplierName" %}
          </div>
          <div class="form-group">
            <label for="id_OrderName">Order Name</label>
            {% render_field form.OrderName class="form-control" id="id_OrderName" %}
          </div>
          <div class="form-group">
            <label for="id_Date">Date :</label>
            {% render_field form.Date class="form-control" type="Date" name="Date" id="id_Date" %}
          </div>
          <div class="form-group">
            <label for="id_document">Attachment :</label><input type="file" name="document" class="form-control-file"
              title="" required id="id_document" multiple />
          </div>

          <div class="form-group">
            <label for="id_Size">Size</label><input type="text" name="Size" maxlength="30" class="form-control"
              placeholder="Size" title="" required id="id_Size" />
          </div>
          <div class="form-group">
            <label for="id_Date">GSM :</label>
            {% render_field form.gsm class="form-control" %}
          </div>
          <div class="form-group">
            <label for="id_Quantity">Quantity</label>
            <input type="number" name="Quantity" class="form-control" placeholder="Quantity" title="" required
              id="id_Quantity" />
          </div>
          <div class="form-group">
            <label for="id_Amount">Amount</label><input type="number" name="Amount" class="form-control"
              placeholder="Amount" title="" required id="id_Amount" />
          </div>
          <div class="form-group">
            <label for="id_Comment">Comment</label><textarea name="Comment" cols="40" rows="3" class="form-control"
              placeholder="Comment" title="" id="id_Comment"></textarea>
          </div>
          <div class="form-group">
            <input class="form-check-input ml-2 mr-4" type="checkbox" id="sendMail" name="sendMail">
            <label class=" ml-4" for="gridCheck1">
              Send Email
            </label>
          </div>
          <button type="submit" class="btn btn-success">Order Place</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      "use strict";
      window.addEventListener(
        "load",
        function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName("needs-validation");
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener(
              "submit",
              function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add("was-validated");
              },
              false
            );
          });
        },
        false
      );
    })();
  </script>

  {% endblock content %}
</div>