{% extends 'base.html'%}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% load static %}
<div class="card  mx-3 my-3">

    <div class="card-body ">
        <h4 class="card-title">Payment Details </h4>
        <hr>
        <div class="row">
            <div class="col">

                <img class="img-fluid" alt="Responsive image" src="{% static 'img/22562.jpg'%}"
                     style="width:500px;height:450px">
            </div>
            <div class="col">

                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    
                <div class="form-group">
                
                <label for="id_supplierName">Service Provider Name</label>
                {% render_field form.supplierName class="form-control"  id="id_supplierName"  %}
</div>
<div class="form-group">
<label for="id_Date">Date :</label>
 {% render_field form.Date class="form-control" type="Date" name="Date"  id="id_Date"  %}
</div>
<div class="form-group">
<label for="id_paidIn">Paid By</label>
{% render_field form.paidIn class="form-control"  id="id_paidIn"  %}
</div>
<div class="form-group"><label for="id_credit">Amount</label><input type="number" name="credit" value="0" class="form-control" placeholder="Credit" title="" required id="id_credit"></div>
<div class="form-group"><label for="id_Comment">Comment</label>
  {% render_field form.Comment class="form-control" cols="40" rows="3" id="id_Comment" %}
<br>
                    <button type="submit" class="btn btn-success">Pay</button>


                </form>
            </div>
        </div>
    </div>
    {% endblock content %}