{% load humanize %}

<div class="card  mx-3 my-3">

    <div class="card-body">

        <div class="row">
            <div class="col-sm-3 mt-2">
                <div class="card" style="text-align:center; background-color:#8E44AD">
                    <div class="card-header" style="color:white"><b>Total Serivce Provider</b></div>

                    <div class="card-body">
                        <h4 class="card-text" style="color:white">{{supplier_count}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="card" style="text-align:center; background-color:#2980B9">
                    <div class="card-header" style="color:white"><b>Total orders</b></div>

                    <div class="card-body">
                        <h4 class="card-text" style="color:white">{{order_count}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="card" style="text-align:center; background-color:#3498DB">
                    <div class="card-header" style="color:white"><b>Total pending Payments</b></div>

                    <div class="card-body">
                        <h4 class="card-text" style="color:white">{{order_amount|intcomma}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-2">
                <div class="card" style="text-align:center; background-color:#17A589">
                    <div class="card-header" style="color:white"><b>Total Payments paid</b></div>

                    <div class="card-body">
                        <h4 class="card-text" style="color:white">{{paid_amount|intcomma}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>