{% extends "base.html "%}
{%block content%}
<div class="container">
    <div class="card  mt-5">

        <div class="card-body mx-3 my-3">
            <h5 class="card-title">Add Suppliers</h5>
            <hr>

            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Enter The Name ">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Enter The Company name">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <input type="email" class="form-control" placeholder="Enter The Email ID ">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Enter The Mobile Number">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter The Address"
                                  rows="2"></textarea>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary float-right mt-4 mr-2">Submit</button>

                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


<div class="container">
    <div class="card mt-5">

        <div class="card-body mx-3 my-3">
            <h5 class="card-title">Total Suppliers</h5>
            <hr>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Company name</th>
                    <th scope="col">Email id</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Edit or Delete</th>

                </tr>
                </thead>
                <tbody>
                {% for stable in details %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{stable.sname}}</td>
                    <td>{{stable.company_name}}</td>
                    <td>{{stable.Semail_id}}</td>
                    <td>{{stable.smobile_no}}</td>
                    <td>
                        <button type="button" class="btn btn-info mr-2"> Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

</div>

{% load static %}

<div class="container">
    <div class="card  mt-5">

        <div class="card-body mx-3 my-3">
            <h4 class="card-title">Add Suppliers</h4>
            <hr>
            <div class="row">
                <div class="col">

                    <img src="{% static 'img/22562.jpg'%}" style="width:500px;height:450px">
                </div>
                <div class="col">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row mt-3 mr-3">
                            <input type="text" class="form-control" placeholder="Enter The Name ">
                        </div>
                        <div class="row mt-3 mr-3">
                            <input type="email" class="form-control" placeholder="Enter The Email ID ">
                        </div>
                        <div class="row mt-3 mr-3">
                            <input type="number" class="form-control" placeholder="Enter The Mobile Number">
                        </div>
                        <div class="row mt-3 mr-3">
                            <input type="text" class="form-control" placeholder="Enter The company Name">
                        </div>
                        <div class="row mt-3 mr-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1"
                                      placeholder="Enter The Address" rows="3"></textarea>

                        </div>
                        <div class="row mt-3 mr-3 float-right">
                            <button type="submit" class="btn btn-primary float-right mt-4 mr-2">Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}

