{% extends 'base.html'%}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load static %}
<div class="card  mx-3 my-3">

    <div class="card-body ">
        <h4 class="card-title">Update Service Provider Details</h4>
        <hr>
        <div class="row">
            <div class="col">

                <img src="{% static 'img/22562.jpg'%}" style="width:500px;height:450px">
            </div>
            <div class="col">

                <form method="post" novalidate>
                    {% csrf_token %}
                   
                <div class="form-group">
                <label for="id_Name">Name</label>
                    {{ form.Name|attr:"class=form-control"|attr:"type=text"|attr:"readonly" }}

                {% comment %} {% render_field form.Name class="form-control" type="text"  %} {% endcomment %}
                    </div>
                               <div class="form-group">
                <label for="id_Company">Company</label>
                 {{ form.Company|attr:"class=form-control"|attr:"type=text"|attr:"readonly" }}
                 {% comment %} {% render_field form.Company class="form-control" type="text" %} {% endcomment %}
                </div>
                <div class="form-group">
<label for="id_Email">Email</label>
 {% render_field form.Email class="form-control" type="email" %}
</div>
<div class="form-group">
<label for="id_Mobile">Mobile</label>
 {% render_field form.Mobile class="form-control" type="text" %}
</div>
<div class="form-group">
<label for="id_Address">Address</label>
 {% render_field form.Address class="form-control" rows="3" type="text" %}
</div>
                    <button type="submit" class="btn btn-success">Save Details</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}